<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonaparte.dao.mapper.QuartzTaskMapper" >
  <resultMap id="BaseResultMap" type="com.bonaparte.entity.QuartzTask" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="trigger_name" property="triggerName" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="rel_id" property="relId" jdbcType="BIGINT" />
  </resultMap>
</mapper>